.route {
    background-color: #FF8A65;
    padding: 5%
}

.inputRoute{
    border-radius: 10px;
    background-color: aliceblue;
}

.buttonRoute{
    margin-top:2%;
    border-radius: 20px;
    border-color: aliceblue;
    background-color: #FF8A65;
    color: aliceblue;
    font-weight: bold;
}