.footer {
    position: fixed;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    bottom: 0px;
    width: 100%;
    background: #20201E;
    height: 60px;
    z-index: 10000;
    color: aliceblue
}

.footer i {
    font-size: 25px;
    color: white;
}

.far .fas {
    display: flex;
    flex-flow: row wrap;
}

.textFooter{
    text-decoration: none;
    color: aliceblue;
}