.formStyle {
    height: 100vh;
    width: 100%;
    background-color: #FF8A65;
}


.form {
    padding: 30px;
    background-color: #FF8A65;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.btnSave {
    border-radius: 20px;
    background-color: white; 
    color:#FF8A65;
    border:#FF8A65 1.5px solid;
    padding: 1px 20px;
    bottom: 0;
    margin: 5px;
}
