.container {
    background-color:#FF8A65;
    height: 100vh;
    width: 100%;
    display: flex;   
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    padding-top: 5rem;
    text-align: center;
}

.textHome{
    position: absolute;
    top:25%;
    text-decoration: none;
    color: aliceblue;
}

.titleHome{
    font-weight: bolder;
    font-size: 50px;
}

.homeText{
    padding: 1%;
    font-size: 20px;
    font-weight: inherit;
}

